{% extends 'base.html' %}
{% load thumbnail %}
{% load i18n %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'mediaframe:create' owner_username %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}
        <table>
            <tr>
                <td>{{ form.description.label_tag }}</td>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <td>{{ form.album.label_tag }}</td>
                <td>{{ form.album }}</td>
            </tr>
            <tr>
                <td>{{ form.image.label_tag }}</td>
                <td>{{ form.image }}</td>
            </tr>
            {% comment %}
            <tr>
                <td>{{ form.video_code.label_tag }}</td>
                <td>{{ form.video_code }}</td>
            </tr>
            {% endcomment %}
        </table>
        <input type="submit" value="Create MediaFrame" />
    </form>
{% endblock %}