body {
    background-image: url('../img/background.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed !important;
    background-size: cover !important;
}

div .shadow {
    -webkit-box-shadow: 0px 1px 3px #4a4a4a;
    -moz-box-shadow: 0px 1px 3px #4a4a4a;
    box-shadow: 0px 1px 3px #4a4a4a;
}

div .radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

#body-container {

    max-width: 980px;
    min-height: 500px;

    /*margin-top: 15px;*/
    margin-left: auto;
    margin-right: auto;

    /*
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    */

    overflow: hidden;
}

#index-container {
    width: 500px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar-custom-top {
    margin: 0;
    background-color: rgba(0,0,0,.5);

    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.navbar-custom-bottom {
    margin: 0;
    background-color: rgba(0,0,0,.5);

    height: 50px;
    line-height: 50px;
}

.navbar-width {
    max-width: 980px;
    height: 50px;

    margin: auto;

}

#img-background {
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;

    position: absolute;
    bottom: 0;
}

#content {
    margin: 80px;
}

#content-container {
    /*background-color: #F0F0F0;*/
    margin-top: 25px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    padding-left: 15px;
    padding-right: 15px;

}


/* ------------- Header -------------- */

#header-container {
    width: 90%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

#header-text-container {
    height : 100px;
    max-width: 350px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,.9);

    -webkit-box-shadow: 0px 2px 6px #4a4a4a;
    -moz-box-shadow: 0px 2px 6px #4a4a4a;
    box-shadow: 0px 2px 6px #4a4a4a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#header-name {
    margin-left: 30px;
    margin-right: 10px;
}

#header-name a {
    color: #191919;
    font-style: oblique;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

#header-name a:hover {
    color: #00B8E6;
}


/* ------------- Avatar -------------- */


.avatar-outer {

    width: 100px;
    height: 100px;

    -webkit-box-shadow: 0px 2px 6px #4a4a4a;
    -moz-box-shadow: 0px 2px 6px #4a4a4a;
    box-shadow: 0px 2px 6px #4a4a4a;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border:solid white 2px;
    overflow: hidden;
    /*padding: 1px;*/
}

.avatar-image {
    background: gray;
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.avatar-image-xtiny {
    background: gray;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 23px;
    height: 23px;
    overflow: hidden;
}

/* ---------- Homepage related ------------ */
#left-container {

    min-height: 500px;
    width: 230px;

    background-color: rgba(255,255,255,.9);

    padding: 15px;

}

#left-user-info-container {
    padding-left: 10px;
    padding-top: 10px;
}

#right-container {
    min-height: 500px;
    width: 710px;

    background-color: rgba(255,255,255,.3);

    padding: 15px;
}

.topic-container {

    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;

    padding: 10px;

    background-color: rgba(255,255,255, 1);
    text-align: left;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;


    -webkit-box-shadow: 1px 1px 3px #A8A8A8;
    -moz-box-shadow: 1px 1px 3px #A8A8A8;
    box-shadow: 1px 1px 3px #A8A8A8;

}

#post-container {

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

textarea {
    outline: none !important;
    border:0px;

    -webkit-box-shadow: 0px 0px 1px #A8A8A8;
    -moz-box-shadow: 0px 0px 1px #A8A8A8;
    box-shadow: 0px 0px 1px #A8A8A8;
}

textarea:focus {
    outline: none !important;
    border:0px;

    -webkit-box-shadow: 0px 0px 3px #909090;
    -moz-box-shadow: 0px 0px 3px #909090;
    box-shadow: 0px 0px 3px #909090;
}

/* ---------- Account related ---------- */
.account-container {
    width: 190px;
    min-height: 350px;

    margin: auto;
    margin-top: 200px;
}

.sign-up-form input {
    width: 100%;
    padding: 11px 10px 8px 10px;
    display: block;
    margin: 0;
    border: 0;
    font: bold 14px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}


/* ---------- Album related style ----------- */
.album-list-container {
    width: 82%;
}

.album-sidebar-container {
    width: 158px;
    min-height: 390px;

    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,.6);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;

    margin-bottom: 20px;

    -webkit-box-shadow: 0px 0px 1px #4a4a4a;
    -moz-box-shadow: 0px 0px 1px #4a4a4a;
    box-shadow: 0px 0px 1px #4a4a4a;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
     border-radius:6px;
}

.album-sidebar-container hr {
    margin-top: 6px;
    margin-bottom: 9px;
}

.album-sidebar-container img {
    margin-bottom: 5px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius:6px;

    border:solid white 2px;
}

.album-sidebar-container img:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.album-container {
    width: 226px;

    display: inline-block;

    background-color: rgb(255,255,255);

    margin-bottom: 20px;
    margin-right: 10px;

    padding: 7px;

    -webkit-box-shadow: 0px 1px 3px #4a4a4a;
    -moz-box-shadow: 0px 1px 3px #4a4a4a;
    box-shadow: 0px 1px 3px #4a4a4a;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius:5px;
}

.album-container:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.album-container a{
    text-decoration: none;
}

.album-container p{
    color: #4a4a4a;
    font-weight: bold;
    margin: 0 0 2px;
}

.album-container img{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius:3px;
}

.album-thumb-div {
    margin-top: 4px;
}


/* ---------- Frame related style ----------- */
.frame-list-description {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,.6);
}

.frame-container {
    position: relative;
    width: 286px;

    margin-bottom: 15px;
    margin-right: 5px;

    padding: 0px;

    display: inline-block;

    border:solid white 2px;

    -webkit-box-shadow: 0px 1px 3px #4a4a4a;
    -moz-box-shadow: 0px 1px 3px #4a4a4a;
    box-shadow: 0px 1px 3px #4a4a4a;
}

.frame-container:hover .frame-description {
    display: block;
}

.frame-container img {
   /* -webkit-box-shadow: 0px 1px 3px #4a4a4a;
    -moz-box-shadow: 0px 1px 3px #4a4a4a;
    box-shadow: 0px 1px 3px #4a4a4a;*/
}

.frame-container a {
    text-decoration: none;
}

.frame-container p {
    color: #4a4a4a;
    font-weight: bold;
    margin: 0 0 0px;
}

.frame-description {
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.frame-description:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#mediaframe-detail-container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

#mediaframe-detail-img-container {
    background-color: #E8E8E8;
    margin-bottom: 8px;
}

#mediaframe-detail-img-container video {
    display: block;
}

#mediaframe-detail-img-container iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mediaframe-detail-img {
    display: block;
}


/* ------------ Alias ------------- */

.font-20 {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.oblique {
    font-style: oblique;
}

.gray {
    color: #999;
}

.white {
    color: #FFF;
}

.small {
    font-size: 12px;
}

.right {
    float: right;
}

.clear-right {
    clear: right;
    display: block;
}

.left {
    float: left;
}

.clear-left {
    clear: left;
    display: block;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

.clear-both {
    clear: both;
}

.btn-custom {
    margin-left: 8px;
}

#bottom-text {
    color: #999;
}

#bottom-bar:hover #bottom-text{
    color: #FFF;
}
