{% extends 'base.html' %}

{% load i18n %}

{% block body_container %}
    <div class="account-container text-center">
        <form class="sign-up-form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {% if form.errors %}
                <p>{{ form.errors }}</p>
            {% endif %}
            <table>
                <tr>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary btn-block" value="Register" />
        </form>
        <a href="{% url 'login' %}">{% trans 'Already have acount? Login' %}</a>
    </div>

{% endblock %}