{% extends 'base.html' %}

{% block body_container %}

    <div class="account-container">
        <form class="sign-up-form" method="post" action="">{% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary btn-block" value="Log in" />
        </form>
    </div>

{% endblock %}