{% load users_tags %}

<div class="avatar-outer right">
    <div class="avatar-image">
        <img src="{% get_avatar owner AVATAR_SMALL_CROPPED %}" width="AVATAR_SMALL" height="AVATAR_SMALL" />
    </div>
</div>
<div id= "header-text-container" class="right">
    <span id="header-name" class="right">
        <a href="">{{ owner.get_full_name }}</a>
        <span class="small gray">@{{ owner.username }}</span>
    </span>
    <span class="clear-right"></span>
    <p class="small gray">{{ owner.brief_description }}</p>
</div>
<span class="clear-right"></span>
