{% extends 'user_page_base.html' %}
{% load i18n %}
{% load users_tags %}
{% load compressed %}

{% block content %}
    <div id="left-container" class="shadow left">
        <div id="left-user-info-container">
            <div class="avatar-image left">
                <img src="{% get_avatar user AVATAR_TINY_CROPPED %}" width="{{ AVATAR_TINY }}" height="{{ AVATAR_TINY }}" />
            </div>
            <div class="right" style="width: 130px;">
                <p class="bold" style="margin-top: 5px;">{{ user.get_full_name }}</p>
                <p class="small gray" >@{{ user.username }}</p>
            </div>
            <div class="clear-both" style="padding-top: 10px;">
                <p class="">{{ user.email }}</p>
                {% if user.birth_date %}
                    <p class="">{{ user.birth_date }}</p>
                {% endif %}
            </div>
            <div>{{ user.brief_description }}</div>
        </div>
        <hr style="margin-top: 10px; margin-bottom: 10px">
        <div class="btn-group-vertical" style="width: 200px;">
            {% for agroup in user.get_groups %}
                <button onclick="window.location.href='{% url 'group:notices' agroup.pk %}'"
                    type="button" class="btn {% if group.pk and group.pk == agroup.pk %}btn-success{% else %}btn-primary{% endif %}" style="width: 200px;">
                    <p class="{% if group.pk and group.pk == agroup.pk %}bold{% endif %}">{{ agroup.name }}</p>
                    <p class="small white">{{ agroup.area }}</p>
                    {% if agroup.location %}
                        <p class="small white">{{ agroup.location }}</p>
                    {% endif %}
                </button>
                <hr style="margin-top: 2px; margin-bottom: 2px">
            {% endfor %}
            <button type="button" class="btn bold" style="width: 200px;">+</button>
        </div>
    </div>
    <div id="right-container" class="shadow right text-center">
        <div class="btn-group btn-group-lg middle">
            {% if group %}
                <button onclick="window.location.href='{% url 'group:notices' group.pk %}'" type="button" class="btn {% if topic_type == 'N' %}bold btn-success{% endif %}" >{% trans 'Notices' %}</button>
                <button onclick="window.location.href='{% url 'group:discussions' group.pk %}'" type="button" class="btn {% if topic_type == 'D' %}bold btn-success{% endif %}">{% trans 'Discussions' %}</button>
                <button onclick="window.location.href='{% url 'group:activities' group.pk %}'" type="button" class="btn {% if topic_type == 'A' %}bold btn-success{% endif %}">{% trans 'Activities' %}</button>
            {% else %}
            {% endif %}
        </div>
        <div>
            {% if topic_type == 'A' %}
                <div id="post-container" class="topic-container">
                    <p class="bold gray" style="margin-bottom: 5px;">{% trans 'New Activity:' %}</p>
                    <textarea id="new-post-name" rows="1" style="resize: none; width: 629px;">{% trans 'Title' %}</textarea>
                    <textarea id="new-post-start-time" rows="1" style="resize: none; width: 207px;">{% now "SHORT_DATETIME_FORMAT" %}</textarea>
                    <textarea id="new-post-end-time" rows="1" style="resize: none; width: 207px;">{% now "SHORT_DATETIME_FORMAT" %}</textarea>
                    <textarea id="new-post-max-num" rows="1" style="resize: none; width: 206px;">{% trans 'Capacity' %}</textarea>
                    <textarea id="new-post-max-num" rows="1" style="resize: none; width: 629px;">{% trans 'Address' %}</textarea>
                    <textarea id="new-post-content" rows="3" style="width: 629px;">{% trans 'Content' %}</textarea>
                    <button id="new-act-post-btn" data-id="{{ group.id }}" class="btn btn-primary right btn-small" style="margin-top: 5px; width: 79px;">{% trans 'Create' %}</button>
                    <div class="clear-both"></div>
                </div>
            {% elif post_permission %}
                <div id="post-container" class="topic-container">
                    <p class="bold gray" style="margin-bottom: 5px;">{% trans 'New Post:' %}</p>
                    <textarea id="new-post-name" rows="1" style="resize: none; width: 629px;">{% trans 'Title' %}</textarea>
                    <textarea id="new-post-content" rows="3" style="width: 629px;">{% trans 'Content' %}</textarea>
                    <button id="new-post-btn" data-type="{{ topic_type }}" data-id="{{ group.id }}" class="btn btn-primary right btn-small" style="margin-top: 5px; width: 79px;">{% trans 'Post' %}</button>
                    <div class="clear-both"></div>
                </div>
            {% endif %}
            {% for topic in topics %}
                <div class="topic-container" data-id="{{ topic.id }}">
                    <div class="avatar-image left">
                        <img src="{% get_avatar topic.owner AVATAR_TINY_CROPPED %}" width="{{ AVATAR_TINY }}" height="{{ AVATAR_TINY }}" />
                    </div>
                    <div class="left" style="margin-left: 10px">
                        <p style="margin-top: 5px;">
                            <span class="bold" >{{ topic.owner.get_full_name }}</span>
                            <span class="small gray">@{{ topic.owner.username }}</span>
                            {% comment %}
                            <span class="gray" style="font-size: 10px;">{{ topic.created|date:"SHORT_DATETIME_FORMAT" }}</span>
                            {% endcomment %}
                        </p>
                        <p class="bold" style="font-size: 18px;">{{ topic.name }}</p>
                    </div>
                    <div class="clear-both" style="margin-left: 20px; margin-right: 5px;">
                        <p style="padding-top: 5px;">{{ topic.content }}</p>
                        {% if topic_type == 'A' %}
                            <p>
                                <span>{{ topic.start_time }}</span>
                                <span>{{ topic.end_time }}</span>
                            </p>
                            {{ topic.address }}
                            {{ topic.get_available_num }}
                            {{ topic.paticipants }}
                        {% endif %}
                        <hr style="margin-top: 5px; margin-bottom: 5px">
                        <textarea id="new-comment-{{ topic.id }}" rows="1" style="height: 30px; width: 539px;"></textarea>
                        <button data-id="{{ topic.id }}" class="new-comment-btn btn right small" style="height: 30px;">{% trans 'Comment' %}</button>
                        {% for comment in topic.get_comments %}
                        <div class="avatar-image-xtiny left" style="margin-top: 5px;">
                            <img src="{% get_avatar comment.owner AVATAR_XTINY_CROPPED %}" width="{{ AVATAR_XTINY }}" height="{{ AVATAR_XTINY }}" />
                        </div>
                        <div style="margin-left: 30px;">
                            <div style="margin-right: 10px;">
                                <p style="margin-top: 5px;">
                                    <span class="small bold" >{{ comment.owner.get_full_name }}</span>
                                    <span class="small gray">@{{ comment.owner.username }}</span>
                                    {% comment %}
                                    <span class="gray right" style="font-size: 10px;">{{ comment.created|date:"SHORT_DATETIME_FORMAT" }}</span>
                                    {% endcomment %}
                                </p>
                            </div>
                            <p class="clear-both small" style="">{{ comment.content }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="clear-both">
    </div>
{% endblock %}

{% block js_in_body %}
    {% compressed_js 'topic' %}
{% endblock %}